<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    
    <!-- Cabeçalho -->

    <header class="span">
        <nav>
            <!-- Estrutura de logo -->
             <div class="logo">
                <span class="Syn">Syn</span><span class="Cla">Cla</span><span class="ss">ss</span>
             </div>
        </nav>
    </header>

    <!-- Conteúdo principal (cabeçalho) -->
     <main>
        
     </main>
</body>
</html>